@font-face {
  font-family: DMSans;
  src: url("../../assets/DM_Sans/static/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: DMSans;
  src: url("../../assets/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: DMSans;
  src: url("../../assets/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: DMSans;
  src: url("../../assets/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: DMSans;
  src: url("../../assets/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
