@use '../../assets/scss/fonts' as *;

body{
    font-family: DMSans;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__gm{
        font-size: 2.75rem;
        margin: 0;
        font-weight: 500;
        
        &-link{
            color: black;
        }
    }

    &__nav{
        width: 18.75rem;
    }

    &__ul{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    &__li{
        text-decoration: none;
        color: black;
    }
    
    &__h2{
        margin: 0;
        font-size: 1.2rem;
        font-weight: 300;
    }
}