@use '../src/partials/fonts.scss' as *;

#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 4rem;
  text-align: center;
}

*{
  margin: 0;
  font-family: DMSans, Arial, Helvetica, sans-serif;
}

.app {
  &__content {
    min-height: calc(100vh - 300px);
  }
  &__footer {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
