#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 4rem;
  text-align: center;
}

.app {
  &__content {
    min-height: calc(100vh - 200px);
  }
  &__footer {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
